server:
  port: 9090
mybatis:
  typeAliasesPackage: com.zh.spider
  mapperLocations: classpath:com/zh/spider/**/*.xml
  logImpl : STDOUT_LOGGING
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/my_example?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
    #   Spring Boot官方推荐的数据库连接池是Hikari，从一些第三方的评测结果看，Hikari的性能比Druid要好，但是Druid自带各种监控工具，背后又有阿里一直在为它背书
    #   hikari数据源配置，
    hikari:
      connection-test-query: SELECT 1 FROM DUAL
      connection-timeout: 30000
      maximum-pool-size: 20
      max-lifetime: 1800000
      minimum-idle: 5
#logging:
#  path : D:\LOG\
#  file : spring.log